<h1>Home</h1>

<a href="/admins/sign_in" title="Admin Login">Admin Login</a>
<br/>
<a href="/operadors/sign_in" title="Operador Login">Operador Login</a>
<br/><br/><br/><br/>

<a href="/clients" title="VER CLIENTES - TEMPORARIO">VER CLIENTES - TEMPORARIO</a>