<div id="wrapper_outter">
  <div id="wrapper_inner">
    <div id="wrapper">
      <div id="container">
        <div id="header">
          <div id="header_left">

            <div id="site_title" align = "left">
              <h1><a href="#"> <img src="/assets/logo.png" alt=""/>  </a></h1>
            </div>
            <div id="menu">
              <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="/clients">Ver Clientes</a></li>
                <li><a href="/clientesExcluidos">Clientes Excluídos</a></li>
              </ul>
            </div>
            <!-- end of menu -->
          </div>
          <!-- end of header left -->
          <div class="cleaner"></div>
        </div>
        <!-- end of header -->
        <div id="content_wrapper">
          <div id="content_outer">
            <div id="content">
              <div class="content_section">
                <h2><a href="/admins/sign_in" title="Admin Login">Admin Login</a></h2>
                <p>Para entrar no sistema como Administrador</p>
              </div>
              <div class="content_section">
                <h2><a href="/operadors/sign_in" title="Operador Login">Operador Login</a></h2>
                <p>Para entrar no sistema como Operador</p>
              </div>               
            </div>
            <!-- end of content -->
            <div id="content_bottom"></div>
            <div class="cleaner"></div>
          </div>
          <!-- end of content_outer -->
          <div id="template_sidebar">
            <div class="sidebar_section">
              <h2>Desenvolvedores</h2>
              <div class="image_wrapper"> <a href="#"><img src="/assets/image_01.jpg" alt="" width="260" height="120" /></a> </div>
              <p>Alexandre Creto, Fernando Lener, Gregori Inagaki, Murilo Travareli e Piergiorgio Lisanti. São os desenvolvedores desse componente. </p>
              <div class="cleaner_h30"></div>
            </div>
          </div>
          <!-- end of template_sidebar -->
          <div class="cleaner"></div>
        </div>
        <!-- end of content_wrapper -->
        <div id="footer">
          Copyright &copy; 2012 <a href="http://mc437.herokuapp.com/">Componente Cliente - MC437</a> | Desenvolvido por Alexandre Creto, Fernando Lener, Gregori Inagaki, Murilo Travareli e Piergiorgio Lisanti.</div>
        <!-- end of footer -->
        <div class="cleaner"></div>
      </div>
    </div>
  </div>
</div>
