        <div id="content_wrapper">
          <div id="content_outer">
            <div id="content">
        <div class="content_section" align="center">
          <h2>Projeto Grupo 01 - MC437</h2>
        </div>
              <div class="content_section">
                <h2>Especificação do Componente Cliente</h2>
                <p>A empresa dona deste componente deseja manter uma lista de clientes. É importante armazenar dados pessoais como, por exemplo, RG, CPF, nome, nome do pai, nome da mãe, data de nascimento, local de nascimento, estado civil, local de trabalho, cargo, rendimento mensal, hobbies prediletos, informações dos filhos.</p>
        <p>Por experiência do passado, a empresa quer evitar o armazenamento de dados incorretos e as interfaces de entrada devem garantir consistências. As informações de clientes removidos devem continuar  armazenadas, porém não poderão ser acessiveis diretamente.</p>
        <p>Como serviços externos deseja-se disponibilizar para os clientes deste componente as informações de um cliente cadastrado, a partir, por exemplo, de uma chave, como o CPF.</p>
        <p>Os donos do componente desejam diversos tipos de relatório para consultar informações de um cliente de diferentes maneiras, como, por exemplo: informações cadastrais de um cliente; lista de clientes que tenham um mesmo hobby; lista de clientes cadastrados em um período dado; lista de clientes removidos em um período dado; mulheres ou homens em um certo invervalo de idade e salário.</p>
              </div>
              <div class="content_section">
                <h2>Documentos do Projeto</h2>
                <p>Documento de Casos de Uso</p>
        <p>Documento de Requisitos</p>
        <p>Etc...com o link para download dos documentos</p>
              </div>               
            </div>
            <!-- end of content -->
            <div id="content_bottom"></div>
            <div class="cleaner"></div>
          </div>
          <!-- end of content_outer -->
          
          <div class="cleaner"></div>
        </div>
        <!-- end of content_wrapper -->