<div id="content_wrapper">
            <div id="content">
								
 <!-- TEXT:BODY SECTION -->
<div class="textContainer">
	<div class="content_section">
        <h2>O Projeto</h2>
	<p>O desenvolvimento desta plataforma é parte da disciplina MC437 (Projeto de Sistemas de 		Informação) da UNICAMP.</p>
	<p>Nosso grupo ficou responsável por documentar e implementar o componente cliente, sendo 		este site a conclusão dessa primeira etapa da matéria.</p>
     	</div>
      	
	<div class="content_section">
        <h2>Os Alunos</h2>
        <p>Alexandre Creto, RA: 101354</p> 
	<p>Fernando Lener, RA: 081391</p>
	<p>Gregori Inagaki, RA: 105006</p>
	<p>Murilo Travareli, RA: 094985</p>
	<p>Piergiorgio Lisanti, RA: 141235</p>
      	</div> 

	<div class="content_section">
        <h2>Os Professores</h2>
        <p>São docentes da Unicamp que ministram com grande conhecimento a matéria. Contam com 		auxílio de alunos da pós-graduação(PED) e graduação(PAD).</p>
	<p>Professor: Sindo Vasquez Dias</p>
	<p>PED: Thiago Cavalcante</p>
	<p>PAD: Rodrigo Augusto Cardoso Da Silva</p>
      	</div>

</div>
</div>
            <!-- end of content -->
            <div id="content_bottom"></div>

          <div class="cleaner"></div>
</div>
